.Bannertext {
    font-size: 58px;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
}


.carouseltext {
    position: absolute;
    width: 100%;
    max-width: 55%;
    padding: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(20 20 21 / 60%);
    min-height: 140px;
    /* display: flex; */
    text-align: left;
    /* flex-direction: column; */
}




.date {
    font-size: 25px;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 15px;
}

.bannerholder {
    position: relative;
    padding: 0px !important;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-height: 100vh;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerholder img {
    max-height: 100vh;
    width: 100%;
}

@media(max-width:1600px) {
    .Bannertext {
        font-size: 48px;
    }
}

@media(max-width:1300px) {
    .Bannertext {
        font-size: 40px;
    }

    .bannerholder img {
        min-height: auto;
        /* width:100%; */
    }

    .bannerholder {
        min-height: auto;
    }

    .carouseltext {
        max-width: 55%;
        padding: 4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: rgb(20 20 21 / 60%);
        min-height: 140px;
    }

}

@media(max-width:800px) {

    .Bannertext {
        font-size: 35px;

    }

    .carouseltext {
        max-width: 80%;
    }
}


@media(max-width:600px) {

    .Bannertext {
        font-size: 30px;
    }
}

@media(max-width:480px) {
    .carouseltext {
        position: absolute;
        width: 100%;
        max-width: max-content;
        min-height: auto;
        padding: 1rem;
    }



    .date {
        font-size: 15px;
        margin-top: 10px;
    }

    .Bannertext {
        font-size: 20px;
        line-height: 1.2;
        padding-left: 20px;
        padding-right: 20px;

    }

    /* #BlogInner .Bannertext{

    } */

}