.blogcard {
    max-width: 90%;
    margin: 0px auto;
    background-color: #fff;
    cursor: pointer;
    box-shadow: -6px 6px 20px #0000001A;
}

.blogcard .imgholder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogcard .date {
    font-weight: 300;
    color: #363C4C !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 14px;
}

.bottomSection {
    padding: 5%;
}

.clock {
    max-width: 15px;
    margin-right: 10px;
}

.title {
    font-family: 'Jost';
    color: #363C4C !important;
    font-weight: 600;
    font-size: 23px;
    padding-right: 5%;
    line-height: 1.2;
    margin-bottom: 5%;
}

.content {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    padding-right: 5%;
    margin-bottom: 5%;
    color: #363C4C !important;
}

.readMore {
    color: #363C4C !important;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline !important;
    transition: all 0.1s ease;
}

.readMore:hover {
    font-weight: 500;
}