.blogImg {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../public/Group-45510.png');
    max-height: 380px;
}

.rightSection {
    background: #fff;
    position: relative;
}

.triangleLeft {
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #fff;
    border-bottom: 13px solid transparent;
    position: absolute;
    left: -26px;
    top: 10%;
}

.arrow {
    max-width: auto;
    max-height: 12px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.knowMore:hover .arrow {
    margin-left: 20px;
}


.rightSection p {
    color: #363C4C;
}

.Title {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    width: auto;
    line-height: 1.5;
    font-weight: 700;

}

.DataTitle {
    margin-top: 32px;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 70%;
}




.Content {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.6;
    padding-right: 10px;
}


.knowMore {
    font-size: 13px;
    display: block;
    font-weight: 500;
    margin-top: 20px;
    color: #363C4C !important;
}

@media(max-width:1600px) {

    .DataTitle {
        font-size: 19px;
    }

    .Content {
        font-size: 13px;
    }

    .knowMore {
        font-size: 12px;
    }
}

@media(max-width:1400px) {

    .DataTitle {
        font-size: 17px;
    }

    .knowMore {
        font-size: 11px;
    }

    .Content {
        -webkit-line-clamp: 5;
    }
}

@media(max-width:1200px) {

    .DataTitle {
        margin-top: 20px;
    }

    .borderLeft {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

@media(max-width:1100px) {
    .Title {
        font-size: 20px;
    }

    .DataTitle {
        font-size: 15px;
        margin-top: 12px;
    }

    .Content {
        font-size: 13px;
    }

    .triangleLeft {
        left: -24px;
    }

    .line {
        margin-top: 5px;
    }
}

@media(max-width:992px) {
    .Content {
        -webkit-line-clamp: 5;
    }

    .rightSection {
        min-height: 300px;
    }

    .Title {
        font-size: 20px;
    }

    .Content {
        font-size: 11px;
    }

    .DataTitle {
        font-size: 13px;
        margin-top: 10px;
    }

    .borderLeft {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .knowMore {
        font-size: 9px;
    }

}

@media(max-width:767px) {

    .Content {
        -webkit-line-clamp: 7;
    }



    .blogImg {
        max-height: 200px;
    }

    .rightSection {
        min-height: 300px;
    }

    .triangleLeft {
        display: none;
    }

    .triangleUp {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid #fff;
        filter: drop-shadow(5px 5px 10px #fff);
        position: absolute;
        top: -7%;
        left: 60px;
    }
}

@media(max-width:480px) {
    .Title {
        font-size: 18px;

    }

    .DataTitle {
        font-size: 15px;
        margin-top: 10px;
        max-width: 80%;
    }

    .Content {
        line-height: 1.6;
    }


    .rightSection {
        background: #fff;
        position: relative;
        min-height: 250px;
    }

}