@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

small.heading {
  font-size: 1.3rem;
}

#our-Businesses .slick-slide {
  pointer-events: none;
}

#our-Businesses .slick-current {
  pointer-events: unset !important
}


p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.mainImg {
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #808285;
}

.st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.5;
}

.st1 {
  fill: #FF9100;
  stroke: #FFFFFF;
  stroke-width: 2.5;
}

.chat svg {
  max-width: 40px;
}

.modal {
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.modal-backdrop.show {
  opacity: .7;
}

.modal-backdrop {
  background-color: #fff;
}

.modal .modal-body {
  background-color: #363C4C;
  color: #fff;
}

.modal .heading {
  font-size: 2rem;
}

.modal-dailog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chatOuter {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chathidden {
  opacity: 0;
  color: #FF9100;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  padding: 15px 8px 15px 8px;
  box-shadow: 0px 0px 3px 1px #ff9100;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chat {
  background-color: #FF9100;
  padding: 10px 8px 10px 8px;
  border-radius: 10px;
  width: 56px;
}

.download img {
  filter: brightness(0.6);
}

.download:hover img {
  filter: brightness(1);
}


* {
  box-sizing: border-box;
}

.chatOuter .chat:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.chatOuter:hover .st1 {
  fill: #fff;
}

.chatOuter:hover .chathidden {
  opacity: 1;
}




#blogcaseCarousel .swiper-pagination-bullets {
  bottom: 10px;
  left: 74%;
  width: auto;
}


.social {
  fill: #fff;
}

.social-icon {
  fill: #363C4C;
}

.s-icon:hover .social {
  fill: #363C4C;
}

.s-icon:hover .social-icon {
  fill: #fff;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.sociallink-packet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#our-Businesses .slick-dots {
  /* width: auto; */
  /* left: 25px; */
  bottom: 4%;
  /* transform: translateY(50%); */
}

#our-Businesses {
  overflow-x: hidden;
}

#our-Businesses .slick-dots li {
  /* margin-top: 10px;
  margin-bottom: 10px; */
  /* display: block; */
}

#our-Businesses .slick-dots li.slick-active button:before {
  font-family: 'slick';
  font-size: 12px;
  color: #fff;
  opacity: 1;
}

#our-Businesses .slick-dots li button:before {
  font-size: 12px;
  color: #808285;
  opacity: .6;
}

#ourBusinesses .slick-slide p {
  opacity: 0;
}

.wrapper {
  padding-right: 6rem;
  padding-left: 6em;
}

.navbar-nav {
  flex-direction: row;
}

.btn-primary {
  background-color: #FF9100 !important;
  color: #fff !important;
  border: none !important;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  padding: 0.7rem;
  /* padding-bottom: 0.8rem; */
  font-size: 13px;
  font-weight: 600;
  min-width: 140px;
  letter-spacing: 0.3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn img {
  max-height: 20px;
}

.inn .slick-next {
  right: -40px;
}

.inn .slick-prev {
  left: -40px;
}

.inn2 .slick-next {
  right: -55px;
}

.inn2 .slick-prev {
  left: -55px;
}

.office-card {
  margin: 0px auto;
  width: 100%;
  margin-bottom: 20%;
  max-width: 95%;
}

.office-card .plant {
  font-size: 0.9rem;
}

.office-card .email {
  font-size: 0.8rem;
}

.form-control {
  border: none;
  border-bottom: 1px solid #000 !important;
  border-radius: 0;
  outline: none !important;
  box-shadow: none !important;
  padding-left: 0;
}

#ModalForm .form-control {
  background-color: #363C4C;
  border-bottom: 1px solid #ffffffb0 !important;
  color: #ffffffb0;
}

.form-control::placeholder {
  color: #363C4C;
}

#ModalForm .form-control::placeholder {
  color: #ffffffb0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.office-card p {
  font-size: 15px;
  font-weight: 300;
}

.office-card .icon {
  max-width: 12px;
}


#indiamap .a {
  fill: #4b4b4c;
  opacity: 0.4;
}

#indiamap .b1,
#indiamap .b2,
#indiamap .b3 {
  fill: #FF9100;
  cursor: pointer;
}


.b1 title {
  background-color: #FF9100;
}

.mytitle {
  font-weight: 500;
  color: #fff;
  font-family: 'Jost', sans-serif;
  text-align: left;
  margin-bottom: 2px;
  font-size: 18px;
}

.tooltip-inner {
  min-width: 110px;
  background: #FF9100 !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mydetails {
  font-size: 11px;
  text-align: left;
  line-height: 1.5;
}






.slick-next {
  right: 0px;
}

.slick-prev {
  left: 0px;
}

.pagination {
  justify-content: center;
  margin-top: 4%;

}

.page-link,
.page-item.disabled .page-link {
  box-shadow: none !important;
  border: none !important;
  background-color: transparent;
  color: #363C4C !important;
  font-weight: 500;
  font-size: 14px;
  text-align: center;

}

.page-number {
  height: 32px;
  width: 32px;
}

.page-link span:nth-child(1) {
  display: none;
}

.page-item.active .page-link {
  background-color: #363C4C;
  color: #fff !important;
  border-radius: 50%;
}

.page-item:not(:first-child) .page-link {
  margin-left: 10px;
}

.btn-secondary {
  background-color: #fff !important;
  color: #363C4C !important;
  border: 1px solid #363C4C;
}

.tooltip {
  z-index: 9 !important;
}

.btn-secondary:hover {
  background-color: #363C4C !important;
  color: #fff !important;
}

.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
}

.hamburger {
  max-height: 20px;
  cursor: pointer;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #363C4C;
  z-index: 999;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s all cubic-bezier();
  overflow-y: hidden;
}

.show-nav {
  right: 0;
}


.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  right: 0;
  top: 0;
  background-color: #363C4C;
  /* Black fallback color */
  background-color: #363C4C;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: left;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 18px;
  padding-left: 7rem;
  position: relative;
  text-decoration: none;
  color: #EEEFF3;
  display: block;
  /* Display block instead of inline */
  transition: all 0.2s ease;
  line-height: 1;
  /* Transition effects on hover (color) */
}


.closebtn img {
  max-width: 22px;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  font-weight: 500;
}

.bottom {
  opacity: 0;
  width: 14px;
  height: 2px;
  background-color: #FF9100;
  transition: all 0.2s ease;
}

.overlay a:hover .bottom {
  opacity: 1;
}

.show-line {
  opacity: 1;
}

.active {
  font-weight: 500;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 6rem;
  cursor: pointer;
}

.arrow {
  max-width: auto;
  max-height: 12px;
}

.reverse {
  transform: rotate(180deg);
  position: absolute;
  left: 24%;
  top: 39%;
}

.TitleItem {
  font-size: 17px;
  cursor: pointer;
}


.backbtn {
  cursor: pointer;
}

#myNav.open {
  width: 350px;
}



section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.heading {
  font-family: 'Jost';
  font-size: 40px;
  color: #363C4C;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading .logo {
  width: 200px;
  margin-left: 10px;
}

.about-home-bg {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  min-height: 600px;
  /* background-image: url("../public/about-section.png"); */
  background-image: url("../public/AboutUs.jpg");
  filter: grayscale();
}

.about-home-bg:hover {
  background-color: none;
  background-blend-mode: multiply;
  filter: none;

}

.about-home-bg .heading,
.about-home-bg p {
  color: #fff;
}

.para {
  line-height: 1.9;
}

.navbar-brand {
  max-width: 135px;
  cursor: pointer;
}

.awardpacket {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.awards img {
  max-height: 105px;
}

.clientslide {
  margin: 0px auto;
  text-align: center;
}

.client {
  max-width: 120px;
}

.ss-card {
  padding: 2%;
  text-align: center;
  /* margin: 0px auto; */
}

.ss-card img {
  max-width: 70px;
  margin-bottom: 15px;
}

.ss-card2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 7%;
}

.ss-card2 img {
  max-width: 95px;
}

.ss-card2 div {
  padding-left: 5%;
  padding-right: 10%;
}

.ss-card2 .ss-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2%;
}

/* 
.ss-card p {
  padding-right: 25%;
} */

.bg-dark {
  background-color: #fff !important;
}

.bg2 {
  background-color: #EEEFF3;
}

.bg3 {
  background-color: #363C4C;
}

.form-Section {
  color: #363C4C;
  font-weight: 600;
  font-size: 1.1rem;
}

.white-color {
  color: #fff;
}


#businesses .slick-slide p,
#businesses .slick-slide .btn-secondary,
#businesses .slick-slide .OurBusinesses_innerArrow__2m9Xa,
#businesses .slick-slide .brand-logo {
  display: none;
}

#businesses .slick-slide.slick-active.slick-center.slick-current .btn-secondary {
  display: flex;
}

#businesses .slick-slide.slick-active.slick-center.slick-current p,
#businesses .slick-slide.slick-active.slick-center.slick-current .OurBusinesses_innerArrow__2m9Xa,
#businesses .slick-slide.slick-active.slick-center.slick-current .brand-logo {
  display: block;
}


#businesses .slick-slide {
  transform: scale(.80);
}

#social-media .slick-slide {
  transform: scale(.80);
}


#businesses .slick-center {
  transform: scale(1);
}

.slick-arrow {
  z-index: 9;
  box-shadow: 3px 0px 27px #0000004a;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

#businesses .slick-center .mainImg {
  filter: brightness(0.6);
}

.slick-slide div:focus-within {
  outline: none !important;
}

#businesses .slick-dots {
  display: inline-block !important;
  position: absolute;
  bottom: 0px;
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  right: 10%;
}

@media(max-width:1700px) {
  .btn {
    min-width: 125px;
  }

}

@media(max-width:1500px) {
  .btn {
    min-width: 115px;
  }
}

@media(max-width:1400px) {
  .inn .slick-next {
    right: -30px;
  }

  .btn {
    min-width: 110px;
  }

  .inn .slick-prev {
    left: -30px;
  }

  .inn2 .slick-next {
    right: -35px;
  }

  .inn2 .slick-prev {
    left: -35px;
  }

  .s-icon svg {
    max-width: 25px;
  }


  .heading {
    font-size: 35px;
  }

  .wrapper {
    padding-right: 4rem;
    padding-left: 4em;
  }

  .overlay .closebtn {
    right: 4rem;
  }

}

@media(min-width:1000px) {
  .modal-dialog {
    max-width: 900px;
  }
}

@media(max-width:1100px) {
  .s-icon svg {
    max-width: 23px;
  }

  .inn .slick-next {
    right: -25px;
  }

  .inn2 .slick-next {
    right: -25px;
  }

  .inn2 .slick-prev {
    left: -25px;
  }

  .inn .slick-prev {
    left: -25px;
  }

  .overlay a {
    font-size: 16px;
  }

  body {
    font-size: 14px;
  }
}




@media(max-width:992px) {

  .awards img {
    max-height: 80px;
  }

  .legacy {
    max-width: 200px;
    margin-bottom: 20px;
  }

  #blogcaseCarousel {
    margin-bottom: 5%;
  }

  .navbar-brand {
    max-width: 120px;
  }

  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .about-home-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.2s ease-in;
    cursor: pointer;
    min-height: 500px;
  }


}

@media(max-width:768px) {



  .wrapper {
    padding-right: 2rem;
    padding-left: 2em;
  }

  .overlay .closebtn {
    right: 2rem;
  }

  .slick-next {
    right: 0px;
  }

  .slick-prev {
    left: 0;
  }

  .heading {
    font-size: 30px;
  }

  .slick-arrow {
    width: 35px;
    height: 35px;
  }

  .inn .slick-next {
    right: -5px;
  }

  .inn2 .slick-next {
    right: -10px;
  }

  .inn2 .slick-prev {
    left: -10px;
  }

  .inn .slick-prev {
    left: -5px;
  }

}

@media(max-width:480px) {

  .office-card img {
    max-width: 100px;
  }

  .office-card p {
    font-size: 13px;
  }

  .office-card {
    margin-bottom: 5%;
  }


  .inn2 .slick-next {
    right: -5px;
  }

  .inn2 .slick-prev {
    left: -5px;
  }

  .awards img {
    max-height: 62px;
  }

  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .hamburger {
    max-height: 17px;
  }

  .btn img {
    max-height: 17px;
  }

  .btn {
    font-size: 12px;
    min-width: 110px;
    padding: 0.6rem;
  }

  .closebtn img {
    max-width: 18px;
  }


  .navbar-brand {
    max-width: 105px;
  }

  body {
    font-size: 13px;
  }

  .wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .overlay a {
    font-size: 14px;
    padding: 14px;
    padding-left: 8rem;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: -10px;
    right: 15px;
  }

  .heading {
    font-size: 25px;
  }

  .client {
    max-width: 80px;
  }


  .ss-card p {
    padding-right: 0%;
  }

  .ss-card {
    text-align: center;
  }


}

@media (max-width: 380px) {
  .btn img {
    max-height: 17px;
  }

  .btn {
    font-size: 11px;
    min-width: 100px;
    padding: 0.5rem;
  }

  #myNav.open {
    width: 80%;
  }

  .overlay a {
    padding-left: 6rem;
  }
}

@media(max-width:350px) {
  .btn {
    font-size: 11px;
    min-width: 90px;
    padding: 0.5rem;
  }
}