.card {
    background-color: #fff;
    padding: 2%;
    margin-bottom: 4%;
}


.jobTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #707070;
    transition: all 0.2s ease-in;
}

.jobTitle:hover {
    color: black;
}

.location {
    color: #0B0B0B;
    font-size: 0.9rem;
    text-align: center;
}

.readMore {
    color: #0B0B0B !important;
    font-weight: 600;
    font-size: 0.9rem;
    display: block;
    width: 100%;
    text-align: right;
}


.type {
    color: #0B0B0B;
    font-size: 0.9rem;
}