.title {
    font-family: 'Jost';
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 5%;
}

.btn {
    position: absolute;
    left: 5%;
    bottom: 8%;
}

@media(max-width:768px) {
    .title {
        font-size: 25px;
    }

}

@media(max-width:500px) {
    .title {
        font-size: 22px;
    }

}