.title {
    font-family: 'Jost';
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 5%;
    left: 5%;
}

.innerArrow {
    position: absolute;
    bottom: 11%;
    right: 10%;
}

.logo {
    max-width: 125px;
}

.main {
    position: relative;
}

.title2 {
    font-family: 'Jost';
    font-size: 28px;
    font-weight: 600;
    color: #363C4C;
    text-align: center;
    margin-top: 10px;
}

.holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondBtn {
    background-color: #363C4C !important;
    color: #fff !important;
}

.btn {
    position: absolute;
    left: 5%;
    bottom: 8%;
}

.btn img {
    filter: brightness(0.5);
}

.btn:hover img {
    filter: brightness(1)
}

@media(max-width:768px) {

    .title,
    .title2 {
        font-size: 22px;
    }

}

@media(max-width:500px) {

    .title,
    .title2 {
        font-size: 20px;
    }

}

@media(max-width:360px) {

    .title,
    .title2 {
        font-size: 18px;
    }

}