.parallax {
    /* The image used */
    /* background-image: url("../public/Mask.png"); */
    /* background-image: url("../public/metal_MB2020.jpg"); */
    background-image: url("../public/circular-metal-brushed-texture-XBJMBTD.jpg");
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filterEffect {
    filter: invert(1);
}

.filterEffect .vision {
    filter: invert(1);
}

.vision p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.vision h1 {
    justify-content: left;
}


@media(max-width:1200px) {
    .vision p {
        font-size: 15px;
        line-height: 1.6;
    }

}

@media(max-width:992px) {
    .vision p {
        font-size: 14px;
        line-height: 1.6;
    }

    .vision {
        margin-bottom: 10%;
    }

    .parallax {
        min-height: auto;
    }

}