.left {
    background-position: left;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slider {
    background-color: #363C4C;
}

.logo {
    max-width: 200px;
    height: auto;
    top: 20%;
    position: absolute;
    left: 6rem;
}

.right {
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    background-color: #363C4C;
}

@keyframes slide {
    from {
        opacity: 0;
        margin-bottom: 40%;
    }

    to {
        opacity: 1;
        margin-bottom: 0%;
    }
}

@keyframes slide2 {
    from {
        opacity: 0;
        margin-top: 40%;
    }

    to {
        opacity: 1;
        margin-top: 0%;
    }
}

.title {
    font-family: 'Jost';
    font-weight: 700;
    text-align: left;
    font-size: 35px;
    margin-bottom: 0px;
    opacity: 1;
    width: 100%;
}

/* 
.forward .title {
    animation: slide 0.3s 0.1s 1;
    animation-fill-mode: forwards;
}

.backward .title {
    animation: slide2 0.3s 0.1s 1;
    animation-fill-mode: forwards;
} */

.box1 {
    border: 0.8px solid #fff;
    border-bottom: none;
    max-width: 50%;
    padding: 15px;
}

.content {
    padding: 15px;
    border: 0.8px solid #fff;
    max-width: 80%;
    margin-top: 0;
    line-height: 1.7;
}

.button {
    background-color: transparent !important;
    color: #fff !important;
    border: 0.8px solid #fff !important;
    border-top: none !important;
}



.button:hover img {
    margin-left: 5px;
}

.button img {
    transition: all 0.2s ease;
}

@media(max-width:1400px) {
    .title {
        font-size: 25px;
    }

    .logo {
        left: 4rem;
    }

    .box1 {
        max-width: 80%;
    }


    .content {
        max-width: 90%;
    }

}

@media(max-width:991px) {

    .left {
        min-height: 55vh;
    }

    .right {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media(max-width:768px) {
    .logo {
        left: 2rem;
    }
}

@media(max-width:480px) {
    .title {
        font-size: 20px;
    }

    .logo {
        max-width: 200px;
        left: 20px;
    }

}